.MovieLists {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.MovieLists > div {
  flex: 1;
}

.MovieList {
  list-style-type: none;
}

.list-placeholder {
  width: 35%;
  opacity: 0.65;
}