.Stars {
  display: flex;
  justify-content: center;
  color: #eee;
}

.Stars input {
  display: none;
}

.Stars input:checked {
  display: none;
}

.Stars input:checked ~ label {
  color: #f7c873;
}

.Stars input + label {
  font-size: 0;
}

.Stars input + label:before {
  content: '★';
  font-size: 2rem;
}

.Stars input + label:hover ~ label, .Stars input + label:hover {
  color: #f7c873;
}